pkgbase = smartocr
	pkgdesc = Fast local OCR CLI using RapidOCR and ONNX Runtime
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/MR-kartoshki/SmartOCR
	arch = x86_64
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	depends = python-rapidocr
	depends = python-onnxruntime
	depends = python-pymupdf
	source = smartocr-1.1.0.tar.gz::https://github.com/MR-kartoshki/SmartOCR/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = 31582d184ea16c3830882e589c2273c800733a22506a6d9dd613da64a4834d81

pkgname = smartocr
